:root {
  --tc-white: #ecfdf5;
  --body-bc: #6ee7b7;
  --cell-bc: #34d399;
  --cell-onhover-bc: #10b981;
  --winner-bc: #10b981;
  --btn-bc: #ecfdf5;
  --btn-onhover-bc: #10b981;

  font-family: "Quicksand", sans-serif;
  color: #064e3b;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  background-color: var(--body-bc);
}

.reset-btn {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--btn-bc);
  font-size: 2rem;
  padding: 1rem 2rem;
}

.reset-btn:hover,
.reset-btn:active {
  background-color: var(--btn-onhover-bc);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.board {
  width: 60rem;
  height: 60rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.3rem;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cell-bc);
  color: var(--tc-white);
  text-transform: uppercase;
  font-size: 14rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.cell:hover,
.cell:active {
  cursor: pointer;
  background-color: var(--cell-onhover-bc);
}

.winner {
  background-color: var(--winner-bc);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  padding: 2rem;
}

.footer .github-icon {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s ease-in-out;
}

.footer .github-icon:hover,
.footer .github-icon:active {
  transform: rotate(360deg) scale(1.1);
}
